.more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.more a {
  color: #333;
}
.more svg {
  width: 100%;
}

.news h2 {
  text-transform: uppercase;
}
.news__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 30px;
}
.news__center {
  padding-left: 5px;
  border-left: 1px solid #8E0000;
  margin-bottom: 10px;
}
.news__more {
  display: inline-block;
  color: #000;
}
.news__more div {
  margin-right: 20px;
}
.news__more svg {
  width: 100%;
}
.news__items {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.news__item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: #000;
}
.news__item:first-child {
  background-color: #132856;
  color: #FFF;
}
.news__item:first-child .news__bottom-line path {
  stroke: #FFF;
}
.news__item:first-child .news__triangle {
  border-left-color: #132856;
}
.news__item:nth-child(2) {
  background-color: #8E0000;
  color: #FFF;
}
.news__item:nth-child(2) .news__bottom-line path {
  stroke: #FFF;
}
.news__item:nth-child(3) .news__content, .news__item:nth-child(4) .news__content {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
.news__item:nth-child(3) .news__img, .news__item:nth-child(4) .news__img {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}
.news__item:nth-child(3) .news__triangle, .news__item:nth-child(4) .news__triangle {
  border-left-color: transparent;
  border-right-color: #FFF;
  left: auto;
  right: 0;
}
.news__line {
  border-top: 0.5px solid rgb(118, 118, 122);
}
.news__description {
  margin: 10px 0;
}
.news__date {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px 0 30px 0;
}
.news__content {
  padding: 20px 50px;
  text-align: center;
}
.news__img {
  position: relative;
}
.news__img img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.news__triangle {
  position: absolute;
  left: 0;
  top: calc(50% - 30px);
  width: 0;
  height: 0;
  border-left: 30px solid #8E0000;
  border-right: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-top: 30px solid transparent;
}

.actually {
  background: rgb(51, 51, 51);
  padding-top: 100px;
}
.actually__title {
  border-left: 1px solid #8E0000;
  padding-left: 10px;
  color: #FFF;
}
.actually .more a {
  color: #FFF;
}
.actually__slider {
  position: relative;
  bottom: -50px;
}
.actually__slide {
  margin: 0 10px;
}
.actually__main {
  display: grid;
  grid-template-columns: 2fr 3fr;
  background: #FFF;
  border: 1px solid rgb(167, 168, 171);
  border-radius: 15px;
  overflow: hidden;
}
.actually__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px;
}
.actually__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.actually__img img {
  border-radius: 15px;
}
.actually__slide_more {
  color: #000;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.actually__slide_more div {
  margin-right: 20px;
}
.actually__slide_more svg {
  width: 100%;
}
.actually .slick-dots {
  bottom: auto;
  top: 10px;
  right: 20px;
  width: auto;
}
.actually .slick-dots li.slick-active button:before {
  opacity: 1;
  color: transparent;
}
.actually .slick-dots li {
  border: 1px solid #8E0000;
  border-radius: 50%;
}
.actually .slick-dots li.slick-active {
  width: 40px;
  background: #8E0000;
  border-radius: 10px;
}
.actually .slick-dots li button:before {
  color: transparent;
  opacity: 1;
}

.projects {
  margin-top: 100px;
  padding-top: 50px;
  border-top: 0.5px solid #A7A8AB;
}
.projects__title {
  border-left: 1px solid #8E0000;
  padding-left: 10px;
}
.projects__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  border-top: 1px solid #A7A8AB;
  border-bottom: 1px solid #A7A8AB;
  padding: 10px 0;
  margin-top: 30px;
}
.projects__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.projects__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
.projects__name {
  color: #333333;
}

.documents {
  margin-top: 100px;
  padding-bottom: 30px;
  border-bottom: 1px solid #A7A8AB;
}
.documents__title {
  border-left: 1px solid #8E0000;
  padding-left: 10px;
}
.documents__item {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  background: #D9D9DE;
  margin-bottom: 20px;
}
.documents__item > div {
  border: 1px solid rgb(118, 118, 122);
  padding: 10px 25px;
}
.documents__item-title {
  font-weight: 600;
  color: #132856;
  margin-bottom: 5px;
}
.documents__name a {
  color: #000;
}
.documents__name a:hover {
  text-decoration: underline;
}

.vacancy {
  margin-top: 50px;
}
.vacancy__title {
  border-left: 1px solid #8E0000;
  padding-left: 10px;
}
.vacancy__items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  margin-top: 20px;
}
.vacancy__item {
  background: #E5E5EB;
  color: #333333;
  padding: 25px;
}
.vacancy__text {
  font-weight: 600;
}
.vacancy__line {
  border-top: 1px solid #76767A;
  margin: 10px 0;
}

.urls {
  margin-top: 50px;
  padding-top: 30px;
  border-top: 1px solid #A7A8AB;
}
.urls__title {
  text-align: center;
  margin: 50px 0;
}
.urls__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 25px;
  margin-top: 20px;
}
.urls__item {
  background: #F5F5F7;
  text-align: center;
  font-weight: 600;
  width: 380px;
  color: #000;
  padding: 15px;
  border-radius: 6px;
}
.urls__img {
  width: 100px;
  height: 50px;
  margin: 0 auto;
  -o-object-fit: contain;
     object-fit: contain;
}/*# sourceMappingURL=main.css.map */