@import './mixin.scss';
@import '../assets/fonts/golos/golostext.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #000;
    font-size: 16px;

    @media (max-width:1024px) {
        font-size: 14px;
    }

    @media (max-width:768px) {
        font-size: 12px;
    }

    @media (max-width:480px) {
        font-size: 10px;
    }


}


h1,
h2,
h3,
h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

h1 {
    font-size: 36px;

    @media (max-width:1024px) {
        font-size: 30px;
    }

    @media (max-width:900px) {
        font-size: 26px;
    }

    @media (max-width:768px) {
        font-size: 22px;
    }

    @media (max-width:600px) {
        font-size: 18px;
    }

    @media (max-width:425px) {
        font-size: 16px;
    }


}

h2 {
    font-size: 32px;

    @media (max-width:1024px) {
        font-size: 28px;
    }

    @media (max-width:768px) {
        font-size: 24px;
    }

    @media (max-width:500px) {
        font-size: 22px;
    }
}

h3 {}

h4 {
    font-size: 18px;

    @media (max-width:768px) {
        font-size: 14px;
    }
}

h5 {}


a {
    text-decoration: none;
    color: #FFF;
}

img {
    width: 100%;
}

input {
    outline: none;
    border: none;
    background: none;
}

button {
    border: none;
    background: none;
    cursor: pointer;
}

input,
button,
area {
    @include adaptive-value('font-size', 16, 12, 1);
}


.breadcrumb {
    margin-top: 20px;
    margin-bottom: 50px;
    font-family: 'Inter', sans-serif;

    a {
        color: #000;
        font-weight: 700;
    }

    .active {
        color: $color1;
    }
}

@media (max-width:500px) {
    .breadcrumb {
        margin-bottom: 30px;
    }
}



.pagination {
    margin-top: 50px;
    text-align: center;
    font-weight: 600;


    a,
    span {
        padding: 10px;
        min-width: 30px;
        display: inline-block;
    }

    a {
        color: $color1;
        border: 1px solid $color1;
    }

    a:hover {
        color: #fff;
        background: $color1;
    }

    span {
        border: 1px solid #898989;
        color: #898989;
    }


}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
}


@media (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }
}

@media (min-width: 1536px) {
    .container {
        max-width: 1536px;
    }
}




.fic {
    display: flex;
    align-items: center;
    gap: 5px;
}

.top {
    position: relative;
    color: #FFF;
}

.banner {
    &__slide {
        display: flex !important;
        align-items: center;
        min-height: 600px !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        background-position: center !important;
    }



    &__main {}

    &__description {
        margin: 10px 0;
    }

    &__btn {
        display: inline-block;
        border: 1px solid rgb(217, 217, 222);
        border-radius: 4px;
        padding: 10px 25px;
    }

    .slick-dots li button:before {
        opacity: 0.5;
        color: #FFF;
    }

    .slick-dots li.slick-active button:before {
        opacity: 1;
        color: #FFF;
    }
}


.header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 10;

    &__top {
        padding-top: 10px;
        padding-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #FFF;
    }

    &__right {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    &__input {
        background: #FFF;
        padding: 3px 5px;
        font-size: 12px;
        border-radius: 10px;
    }

    &__submit {
        color: #FFF;
    }

    &__logo {
        display: flex;
        align-items: center;
        gap: 10px;

        img {
            width: 60px;
            height: 60px;
            object-fit: contain;
        }

        span {
            max-width: 50%;
        }
    }

    &__bottom {
        display: flex;
        align-items: center;
        padding-top: 10px;
    }
}

.nav {
    display: flex;
    gap: 30px;

    &__line {
        border-left: 1px solid #FFF;
    }
}

.nav2 {
    display: flex;
    gap: 20px;
}



.burger {
    display: none;
    color: #FFF;

    svg {
        width: 2rem;
        height: 2rem;
    }

    &__menu {
        display: block;
    }

    &__cross {
        display: none;
    }

    &.show {
        .burger {
            &__menu {
                display: none;
            }

            &__cross {
                display: block;
            }
        }
    }
}









.dropdown {
    position: relative;
    cursor: pointer;

    li {
        text-transform: none;
    }

    &-title {
        display: grid;
        grid-template-columns: auto 16px;
        justify-content: center;
        align-items: center;
        color: #FFF;

        svg {
            width: 16px;
            height: 16px;
            transition: all 0.5s ease;
        }

        &.first {

            svg path {
                fill: #BDBABA;
            }
        }

    }

    &.active {
        .dropdown-title {

            svg path {
                fill: #FFF;
            }
        }
    }

    ul {
        list-style: none;
        position: absolute;
        width: auto;
        min-width: 100%;
        text-align: center;
        z-index: 11;
        background: $color1;
        visibility: hidden;
        opacity: 0;
        transition: all 0.5s ease;
        color: #FFF;

        a {
            color: #fff;
        }

        li {
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 40px;
            padding: 5px;
        }

        li:hover {
            background: #607BB0;
        }
    }

    .show {
        visibility: visible;
        opacity: 1;

        >.dropdown-title {
            svg {
                transform: rotate(180deg);
            }
        }
    }

    >ul {
        left: 0;
        top: auto;
    }

    &.pod {
        >ul {
            top: 0;
            left: 100%;
            box-shadow: 0px 5px 10px 2px rgba(255, 255, 255, 0.4);
        }

        .dropdown-title {
            svg path {
                fill: #BDBABA;
            }
        }

        .show {
            >.dropdown-title {
                svg {
                    transform: rotate(-90deg);
                }
            }
        }

        &.left {
            >ul {
                top: -10%;
                left: auto;
                right: 100%;
            }
        }
    }

    @media (max-width:768px) {
        display: grid;
        justify-content: center;
        flex-wrap: nowrap;
        grid-template-columns: auto;

        ul {
            position: static;
            min-width: auto;
            display: none;

            li:hover {
                background: none;
            }
        }

        &-title {
            display: flex;
        }

        .show {
            display: block;
        }

        .pod .show {
            box-shadow: none;
        }

    }
}


.footer {}

.footer {
    margin-top: 120px;
    background: rgb(51, 51, 51);
    padding: 30px 0;
    color: #FFF;
    clear: left;

    &__logo {
        font-weight: 700;
        display: flex;
        align-items: center;
        gap: 10px;
        color: #FFF;

        img {
            width: 46px;
            height: 46px;
        }

        span {
            max-width: 70%;
        }
    }

    &__content {
        margin-top: 25px;
        border-top: 1px solid #FFF;
        padding-top: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 30px;
    }

    &__item {
        margin-bottom: 10px;
        display: block;

        svg {
            width: 17px;
            height: 17px;
        }
    }

    a.footer__item {
        display: flex;
    }

    &__title {
        font-weight: 700;
    }

    &__metric {

        img {
            width: auto;
            height: auto;
        }
    }

    &__copyright {
        font-size: 14px;
        margin-top: 40px;
        text-align: center;
        color: rgba($color: #FFF, $alpha: 0.52);
        font-weight: 500;
        border-top: 1px solid rgba(255, 255, 255, 0.2);
        padding-top: 20px;
    }


    @media (max-width:1024px) {
        &__copyright {
            font-size: 12px;
        }
    }

    @media (max-width:768px) {
        &__copyright {
            font-size: 10px;
        }
    }
}